// Imports
@import "./components/top.scss";
@import "./components/container.scss";
@import "./components/header.scss";
@import "./components/input.scss";
@import "./components/footer.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font : {
    size: 18px;
    family: "Josefin Sans", sans-serif;
  }
  color: $Very_Light_Gray;
  min-height: 100vh;
  background-color: $Very_Dark_Blue;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 2rem;
}

h1 {
  font-size: 2rem;
  letter-spacing: 1.5rem;
}

i {
  pointer-events: none;
  font-size: 1.55rem;
  padding: 0 0.5rem;
}

img {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.fa-circle {
  color: $Dark_Grayish_Blue;
}

ul {
  list-style-type: none;
  box-shadow: 0 0 10px;
  background: $Dark_Grayish_Blue;
}

// Fall animation on todo remove
.fall {
  opacity: 0;
  transform: translateX(100%);
}

.fa-times {
  color: $Dark_Grayish_Blue;
}

// check animation
.line {
  text-decoration: line-through;
  color: $Very_Dark_Grayish_Blue !important;
}
