.top {
  min-height: 40vh;
  background-image: url("../../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.lightBg {
  background-image: url("../images/bg-desktop-light.jpg");
}

.todoContainer {
  width: 40%;
  position: absolute;
  border-radius: 0.2rem;
  top: 15rem;
  height: 60vh;
  overflow: auto;
}
.todoContainer .todo-div {
  display: flex;
  justify-content: space-between;
  background: #25273c;
  margin-bottom: 0.1rem;
  transition: all 0.5s ease-in-out;
}
.todoContainer .todo-div li {
  flex: 1;
  color: white;
  align-self: center;
}
.todoContainer .todo-div .fa-circle:hover {
  color: green;
}

.complete-btn,
.trash-btn {
  background: transparent;
  padding: 1rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .todoContainer {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .todoContainer {
    width: 90%;
  }
}
.lightModeUl {
  background: #cacde8;
}

.lightMode {
  transition: all 0.5s ease-in-out;
  background: #fafafa !important;
  color: #4d5066;
}
.lightMode h1 {
  color: #fff;
}
.lightMode li {
  color: #4d5066 !important;
}

header {
  min-height: 20vh;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  header {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  header {
    width: 90%;
  }
}
form {
  min-height: 20vh;
  width: 40%;
  display: flex;
  align-items: flex-start;
}
form button {
  padding: 1rem;
  border: none;
  outline: none;
  background: #25273c;
  cursor: pointer;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
form input {
  width: 90%;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  background: #25273c;
  padding: 1rem 0;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  outline: none;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  form {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}
.footer {
  background: #25273c;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  color: #4d5066;
  font-size: 0.9rem;
}
.footer .center-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 40%;
}
.footer .center-div > li {
  cursor: pointer;
}
.footer .center-div > li:hover {
  color: #e4e5f1;
}
.footer .center-div > li:active {
  color: #3a7bfd;
}
.footer p {
  cursor: pointer;
}
.footer p:hover {
  color: #e4e5f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  color: #fafafa;
  min-height: 100vh;
  background-color: #161722;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 2rem;
}

h1 {
  font-size: 2rem;
  letter-spacing: 1.5rem;
}

h3 {
  font-weight: 500;
  margin-right: 0.5rem;
}

i {
  pointer-events: none;
  font-size: 1.55rem;
  padding: 0 0.5rem;
}

img {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.fa-circle,
.fa-times {
  color: #777a92;
}

ul {
  list-style-type: none;
  box-shadow: 0 0 10px;
  background: #777a92;
}

span {
  display: flex;
}

.fall {
  opacity: 0;
  transform: translateX(100%);
}

.line {
  text-decoration: line-through;
  color: #4d5066 !important;
}

/*# sourceMappingURL=style.css.map */
