.top {
  min-height: 40vh;
  background-image: url("../../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

// day-mode
.lightBg {
  background-image: url("../images/bg-desktop-light.jpg");
}
