@import "../variables.scss";

form {
  //border: 2px solid black;
  min-height: 20vh;
  min-width: 40%;
  display: flex;
  align-items: flex-start;

  button {
    padding: 1rem;
    border: none;
    outline: none;
    background: $Very_Dark_Desaturated_Blue;
    cursor: pointer;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  input {
    min-width: 90%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    background: $Very_Dark_Desaturated_Blue;
    padding: 1rem 0;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    outline: none;
    color: #fff;
  }
}
